@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');
.portfolio_section {
    font-family: 'Montserrat-Regular','Calibri';
}
header {
    background-color: #030303;
    height: 8vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.portfolio_header_box {
    margin: 0 auto;
    padding-top: 15px;
    max-width: 100px;
}
.portfolio_header_box_logo {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.h1 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 24px;
    margin: 50px auto;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
section {
    max-width: 100%;
}
.portfolio_section {
    max-width: 1100px;
    background-color: white;
    margin: 50px auto 10px auto; 
}
.portfolio_section img {
    display: block;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.portfolio_first_image {
    max-width: 55%;
    max-height: 70vh;
    float: left;
    padding-right: 15px;
}
.portfolio_first_text {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.portfolio_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
    clear: both;
}
.portfolio_second_text {
    font-size: 20px;
    padding: 10px 0 10px 0;
}
.portfolio_block img {
    padding-top: 50px;
    max-height: 100%;
    max-width: 100%;
}
.portfolio_other_text {
    padding-top: 20px;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}
.portfolio_other_block {
    padding-bottom: 50px;
}
input[type=checkbox] {
    display: none;
}  
.title-content {
    height: 50px;
    max-width: 100%;
    margin: 50px auto 0 auto;
}
.title_content_img {
    width: 50px;
    height: 50px;
}
.hidden-content {
    display: none;
    padding-top: 50px;
    max-height: 200px;
    overflow: hidden;
}
label {
    cursor: pointer;
    -webkit-transition-duration: 0.8s;
         -o-transition-duration: 0.8s;
            transition-duration: 0.8s;
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    left: calc(50% - 25px);

}
#Capa_1 {
height: 50px;
width: 50px;
}
input:checked + label {
-webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
}

.row {
width: 80%;
margin: 0 auto;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.owl-carousel .owl-wrapper:after {
display: block;
visibility: hidden;
clear: both;
height: 0;
content: ".";
line-height: 0;
}

/* display none until init */

.owl-carousel {
position: relative;
display: none;
width: 90%;
-ms-touch-action: pan-y;
overflow: hidden;
}

.owl-carousel .owl-wrapper {
position: relative;
display: none;
-webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
position: relative;
overflow: hidden;
width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
-webkit-transition: height 500ms ease-in-out;
-o-transition: height 500ms ease-in-out;
transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
cursor: pointer;
}

.owl-controls {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* mouse grab icon */

.grabbing {
cursor: url(../images/grabbing.png) 8 8, move;
}


/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
}

.owl-theme .owl-controls {
margin-top: 10px;
text-align: center;
}


/* 
*  Owl Carousel CSS3 Transitions 
*  v1.3.2
*/

.owl-origin {
-webkit-perspective: 1200px;
-webkit-perspective-origin-x: 50%;
-webkit-perspective-origin-y: 50%;
-moz-perspective: 1200px;
-moz-perspective-origin-x: 50%;
-moz-perspective-origin-y: 50%;
perspective: 1200px;
}


/* fade */

.owl-fade-out {
z-index: 10;
-webkit-animation: fadeOut .7s both ease;
animation: fadeOut .7s both ease;
}

.owl-fade-in {
-webkit-animation: fadeIn .7s both ease;
animation: fadeIn .7s both ease;
}


/* backSlide */

.owl-backSlide-out {
-webkit-animation: backSlideOut 1s both ease;
animation: backSlideOut 1s both ease;
}

.owl-backSlide-in {
-webkit-animation: backSlideIn 1s both ease;
animation: backSlideIn 1s both ease;
}


/* goDown */

.owl-goDown-out {
-webkit-animation: scaleToFade .7s ease both;
animation: scaleToFade .7s ease both;
}

.owl-goDown-in {
-webkit-animation: goDown .6s ease both;
animation: goDown .6s ease both;
}


/* scaleUp */

.owl-fadeUp-in {
-webkit-animation: scaleUpFrom .5s ease both;
animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
-webkit-animation: scaleUpTo .5s ease both;
animation: scaleUpTo .5s ease both;
}


/* Keyframes */


/*empty*/

@-webkit-keyframes empty {
0% {
opacity: 1
}
}

@keyframes empty {
0% {
opacity: 1
}
}

@-webkit-keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

@keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

@-webkit-keyframes fadeOut {
0% {
opacity: 1;
}
100% {
opacity: 0;
}
}

@keyframes fadeOut {
0% {
opacity: 1;
}
100% {
opacity: 0;
}
}

@-webkit-keyframes backSlideOut {
25% {
opacity: .5;
-webkit-transform: translateZ(-500px);
}
75% {
opacity: .5;
-webkit-transform: translateZ(-500px) translateX(-200%);
}
100% {
opacity: .5;
-webkit-transform: translateZ(-500px) translateX(-200%);
}
}

@keyframes backSlideOut {
25% {
opacity: .5;
-webkit-transform: translateZ(-500px);
        transform: translateZ(-500px);
}
75% {
opacity: .5;
-webkit-transform: translateZ(-500px) translateX(-200%);
        transform: translateZ(-500px) translateX(-200%);
}
100% {
opacity: .5;
-webkit-transform: translateZ(-500px) translateX(-200%);
        transform: translateZ(-500px) translateX(-200%);
}
}

@-webkit-keyframes backSlideIn {
0%,
25% {
opacity: .5;
-webkit-transform: translateZ(-500px) translateX(200%);
}
75% {
opacity: .5;
-webkit-transform: translateZ(-500px);
}
100% {
opacity: 1;
-webkit-transform: translateZ(0) translateX(0);
}
}

@keyframes backSlideIn {
0%,
25% {
opacity: .5;
-webkit-transform: translateZ(-500px) translateX(200%);
        transform: translateZ(-500px) translateX(200%);
}
75% {
opacity: .5;
-webkit-transform: translateZ(-500px);
        transform: translateZ(-500px);
}
100% {
opacity: 1;
-webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
}
}

@-webkit-keyframes scaleToFade {
to {
opacity: 0;
-webkit-transform: scale(.8);
}
}

@keyframes scaleToFade {
to {
opacity: 0;
-webkit-transform: scale(.8);
        transform: scale(.8);
}
}

@-webkit-keyframes goDown {
from {
-webkit-transform: translateY(-100%);
}
}

@keyframes goDown {
from {
-webkit-transform: translateY(-100%);
        transform: translateY(-100%);
}
}

@-webkit-keyframes scaleUpFrom {
from {
opacity: 0;
-webkit-transform: scale(1.5);
}
}

@keyframes scaleUpFrom {
from {
opacity: 0;
-webkit-transform: scale(1.5);
        transform: scale(1.5);
}
}

@-webkit-keyframes scaleUpTo {
to {
opacity: 0;
-webkit-transform: scale(1.5);
}
}

@keyframes scaleUpTo {
to {
opacity: 0;
-webkit-transform: scale(1.5);
        transform: scale(1.5);
}
}


/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
display: inline-block;
margin: 5px;
padding: 3px 10px;
border-radius: 30px;
background: #869791;
color: #FFF;
font-size: 12px;
opacity: 0.5;
filter: Alpha(Opacity=50);
/*IE7 fix*/
zoom: 1;
*display: inline;
/*IE7 life-saver */
}  

/* Clickable class fix problem with hover on touch devices */


/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
text-decoration: none;
opacity: 1;
filter: Alpha(Opacity=100);
/*IE7 fix*/
}


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
display: inline-block;
zoom: 1;
*display: inline;
/*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
display: block;
margin: 5px 7px;
width: 12px;
height: 12px;
border-radius: 20px;
background: #869791;
opacity: 0.5;
filter: Alpha(Opacity=50);
/*IE7 fix*/
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
opacity: 1;
filter: Alpha(Opacity=100);
/*IE7 fix*/
}


/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
padding: 2px 10px;
width: auto;
height: auto;
border-radius: 30px;
color: #FFF;
font-size: 12px;
}


/* preloading images */

.owl-item.loading {
min-height: 150px;
background: url(../images/AjaxLoader.gif) no-repeat center center
}


/* CUSTOM USER OPTIONS */

.carousel-container {
width: 90%;
}

.item {
margin: 0 10px;
color: #333;
background-color: #fff;
}

.item img {
width: 100%;
overflow: hidden;
}

.item h4 {
margin-top: 5px;
color: #333;
padding: 10px;
font-family: 'Montserrat', sans-serif;
text-align: center;
}

.item p {
color: #333;
padding: 0 5px 10px;
font-family: 'PT Serif', serif;
}

.customNavigation {
margin-top: 55px;
margin-right: 11px;
max-width: 100%;
content: "";
}

.customNavigation .btn {
float: left;
overflow: visible;
padding: 10px 15px;
border: 0;
-webkit-box-shadow: none;
        box-shadow: none;
color: #fff;
text-transform: uppercase;
text-shadow: none;
font-size: 20px;
cursor: pointer;
-webkit-transition: all .1s ease-in 0s;
-moz-transition: all .1s ease-in 0s;
-o-transition: all .1s ease-in 0s;
-webkit-transition-property: all .1s ease-in 0s;
-o-transition-property: all .1s ease-in 0s;
transition-property: all .1s ease-in 0s;
-webkit-font-smoothing: antialiased;
width: 10px;
height: 50px;
display: block;
}
.customNavigation img {
    width: 25px;
    height: 50px;
}
.prev {
position: relative;
top: 5%;
}
.next {
display: block;
position: relative;
top: 5%;
right: 20%;
}

.hoverfx {
position: relative;
display: block;
overflow: hidden;
text-align: center;
}

.hoverfx img {
position: absolute;
left: 0;
width: 100%;
}

.hoverfx:before {
display: inline-block;
padding-top: 60%;
content: '';
vertical-align: middle;
}

.hoverfx .figure {
position: relative;
z-index: 2;
display: inline-block;
padding: 10px 15px;
max-width: 60%;
border: 3px solid #e9e9e9;
color: #ecf0f1;
vertical-align: middle;
text-transform: uppercase;
font-size: 1.2rem;
opacity: 0;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-o-transition: all .3s ease;
-webkit-transition-property: all .3s ease;
-o-transition-property: all .3s ease;
transition-property: all .3s ease;
}

.hoverfx .figure:hover {
background: #e9e9e9;
color: #333;
}

.hoverfx .overlay {
position: absolute;
top: 0;
z-index: 1;
padding: 50%;
background: rgba(0, 0, 0, .7);
opacity: 0;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-o-transition: all .3s ease;
-webkit-transition-property: all .3s ease;
-o-transition-property: all .3s ease;
transition-property: all .3s ease;
}

.item:hover .figure,
.item:hover .overlay {
opacity: 1;
}
.figure i {
    font-size: 14px;
    text-transform: initial;
}
footer {
    padding-bottom: 110px;
    background-color: #030303;
}
.portfolio_footer {
    max-width: 1200px;
    text-align: right;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

@media all and (min-width: 100px){
    .portfolio_first_text {
        font-size: 12px;
    }
    .portfolio_second_text {
        font-size: 10px;
    }
  }
  @media all and (min-width: 570px){
    .portfolio_first_text {
        font-size: 14px;
    }
    .portfolio_second_text {
        font-size: 12px;
    }
  }
  @media all and (min-width: 620px){
    .portfolio_first_text {
        font-size: 16px;
    }
    .portfolio_second_text {
        font-size: 14px;
    }
  }
  @media all and (min-width: 680px){
    .portfolio_first_text {
        font-size: 18px;
    }
    .portfolio_second_text {
        font-size: 14px;
    }
  }
  @media all and (min-width: 720px){
    .portfolio_first_text {
        font-size: 20px;
    }
    .portfolio_second_text {
        font-size: 16px;
    }
  }
  @media all and (min-width: 800px){
    .portfolio_first_text {
        font-size: 20px;
    }
    .portfolio_second_text {
        font-size: 16px;
    }
  }
  @media all and (min-width: 860px){
    .portfolio_first_text {
        font-size: 20px;
    }
    .portfolio_second_text {
        font-size: 16px;
    }
  }
  @media all and (min-width: 920px){
    .portfolio_first_text {
        font-size: 20px;
    }
    .portfolio_second_text {
        font-size: 18px;
        padding: 10px 0 50px 0;
    }
  }
  @media all and (min-width: 1000px){
    .portfolio_first_text {
        font-size: 20px;
    }
    .portfolio_second_text {
        font-size: 20px;
    }
  }